---
import type { HTMLAttributes } from 'astro/types'

export interface Props extends HTMLAttributes<'a'> {}
const { href, class: cls, ...props } = Astro.props

const url = Astro.url
const isExternal = href ? new URL(href, url.origin).origin !== url.origin : false
---

<a {href} {...props} class:list={[cls, 'group/link']} target={isExternal ? '_blank' : ''}>
	<slot />{
		/* prettier-ignore */
		isExternal && <span class="whitespace-nowrap"><svg class="inline-block h-[1em] no-underline transition group-hover/link:-translate-y-px group-hover/link:translate-x-px" stroke-linejoin="round" viewBox="0 0 16 16" style="color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.75011 4H6.00011V5.5H6.75011H9.43945L5.46978 9.46967L4.93945 10L6.00011 11.0607L6.53044 10.5303L10.499 6.56182V9.25V10H11.999V9.25V5C11.999 4.44772 11.5512 4 10.999 4H6.75011Z" fill="currentColor" /></svg></span>
	}</a
>
